html
  head
   script(src="//code.jquery.com/jquery-1.11.2.min.js")
   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
   script(src="javascripts/Chart.min.js")

  body
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    .main-container
      h6 Twitter Analysis
      // LEFT-CONTAINER
      .left-container.container
        .menu-box.block
          h2.titular MENU BOX
          ul.menu-box-menu
            li.tabbtn
              a.menu-box-tab(href='#12')
                span.icon.entypo-cog.scnd-font-color
                | Users Cluster
            li.tabbtn
              a.menu-box-tab(href='#13')
                sapn.icon.entypo-chart-line.scnd-font-color
                | Tweets Table
            li.tabbtn
              a.menu-box-tab(href='#13')
                sapn.icon.entypo-chart-line.scnd-font-color
                | Tweeters Table
        .donut-chart-block.block
          h2.titular Number of Mentions
          .donut-chart
            p#mentions.center-date
              | 0
              br
          //canvas#myChart(width='600', height='400')
      // MIDDLE-CONTAINER
      .middle-container.container
        .tweets.block
          // TWEETS (MIDDLE-CONTAINER)
          canvas#myChartSentiment(width='300', height='275')
          h3 Sentiment Chart

      // RIGHT-CONTAINER
      .right-container.container
       form(id="form",method="post",action="/search")
        .join-newsletter.block
          // JOIN NEWSLETTER (RIGHT-CONTAINER)
          h2.titular Search
          select(name="language").blo
            option(value='none') Select a language...
            option(value='en') English
            option(value='fr') French
            option(value='es') Spanish
            option(value='ja') Japanese
          select(name="country").blo
            option(value='selectacountry') Select a country...
            option(value='unitedkingdom') United Kingdom
            option(value='unitedstates') United States
            option(value='france') France
            option(value='italy') Italy
          fieldset.date
            legend Start Date
            label(for='month_start') Month
            select#month_start(name='month_start')
              option(value="01") January
              option(value="02") February
              option(value="03") March
              option(value="04") April
              option(value="05") May
              option(value="06") June
              option(value="07") July
              option(value="08") August
              option(value="09") September
              option(value="10") October
              option(value="11") November
              option(value="12") December
            |  -
            label(for='day_start') Day
            select#day_start(name='day_start')
              option(value="01") 1
              option(value="02") 2
              option(value="03") 3
              option(value="04") 4
              option(value="05") 5
              option(value="06") 6
              option(value="07") 7
              option(value="08") 8
              option(value="09") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") 12
              option(value="13") 13
              option(value="14") 14
              option(value="15") 15
              option(value="16") 16
              option(value="17") 17
              option(value="18") 18
              option(value="19") 19
              option(value="20") 20
              option(value="21") 21
              option(value="22") 22
              option(value="23") 23
              option(value="24") 24
              option(value="25") 25
              option(value="26") 26
              option(value="27") 27
              option(value="28") 28
              option(value="29") 29
              option(value="30") 30
              option(value="31") 31
            |  -
            label(for='year_start') Year
            select#year_start(name='year_start')
              option(value="2009") 2009
              option(value="2010") 2010
              option(value="2011") 2011
              option(value="2012") 2012
              option(value="2013") 2013
              option(value="2014") 2014
              option(value="2015") 2015
              option(value="2016") 2016

          fieldset.date
            legend End Date
            label(for='month_end') Month
            select#month_end(name='month_end')
              option(value="01") January
              option(value="02") February
              option(value="03") March
              option(value="04") April
              option(value="05") May
              option(value="06") June
              option(value="07") July
              option(value="08") August
              option(value="09") September
              option(value="10") October
              option(value="11") November
              option(value="12") December
            |  -
            label(for='day_end') Day
            select#day_end(name='day_end')
                option(value="01") 1
                option(value="02") 2
                option(value="03") 3
                option(value="04") 4
                option(value="05") 5
                option(value="06") 6
                option(value="07") 7
                option(value="08") 8
                option(value="09") 9
                option(value="10") 10
                option(value="11") 11
                option(value="12") 12
                option(value="13") 13
                option(value="14") 14
                option(value="15") 15
                option(value="16") 16
                option(value="17") 17
                option(value="18") 18
                option(value="19") 19
                option(value="20") 20
                option(value="21") 21
                option(value="22") 22
                option(value="23") 23
                option(value="24") 24
                option(value="25") 25
                option(value="26") 26
                option(value="27") 27
                option(value="28") 28
                option(value="29") 29
                option(value="30") 30
                option(value="31") 31
            |  -
            label(for='year_end') Year
            select#year_end(name='year_end')
                option(value="2009") 2009
                option(value="2010") 2010
                option(value="2011") 2011
                option(value="2012") 2012
                option(value="2013") 2013
                option(value="2014") 2014
                option(value="2015") 2015
                option(value="2016") 2016
          input(type='button', value='Upload File').blo
          input(type='text', name="text",placeholder='Search...',required='').search
          input(type='submit', value='Search')
      .clusters.tab#tab-0.active
       h2#title User Cluster VS Number of users
       canvas#myChart(width='950', height='400')
      .tweetstable.tab#tab-1
       h2#tweetstitle Tweets
       table#tweets
        thead
         tr
          th.id ID
          th.username Username
          th.text Tweet
          th.created CreatedAt
        tbody
      .tweeterstable.tab#tab-2
         h2#tweeterstitle Tweeters
         table#tweeters
          thead
           tr
            th.username Username
            th.stance Stance
            th.influence Influence
          tbody



    script(src="javascripts/index.js")
    // end right-container
    // end main-container
